<a href="https://colab.research.google.com/github/gemma24/my_first_repo/blob/main/tax_calculation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program the prompts the user for their income and caclualtes the tax payable.

[Resident tax rates 2021–22
Taxable income](https://www.ato.gov.au/rates/individual-income-tax-rates/)

Income            | Tax on this income 
------------------|----------------------
0 – \$18,200       | Nil
\$18,201 – \$45,000 | 19 cents for each \$1 over \$18,200
\$45,001 – \$120,000 | \$5,092 plus 32.5 cents for each \$1 over \$45,000
\$120,001 – \$180,000 |  \$29,467 plus 37 cents for each \$1 over \$120,000
\$180,001 and over | \$51,667 plus 45 cents for each \$1 over \$180,000

Steps
1. Get the income
2. Calculate the tax

In [1]:
 # Step 1
 income=int(input("What is your annually income ?"))
 print(income)

What is your annually income ?45000
45000

In [2]:
 #step 1- Get the annual income
 
 income=int(input("What is your annual income?"))
 
 # Step 2- Calculate the tax payable
 # If you earn 18,200, pay no tax
 # If you earn between 18,200-45,000, then pay 19 cents for every dollar over 18,200
 # If you earn between 45,001-120,000, then pay $5,092 plus 32.5 cents for every dollar over 45,000
 # If you earn between 12,001-180,000, then pay $29,467 plus 37 cents for every dollar over 120,000
 # If you earn 180,001 and over, then you pay $51,667 plus 45 cents for each one dollar over 180,000
 
 if income<=18200:
    tax=0
 elif 18200<income<=45000:
   tax= 0.19 * (income- 18200)
 elif 45001< income<= 120000:
   tax=5092+0.32*(income-45000)
 elif 120001< income < 180000:
   tax= 29467+0.37*(income-120000)
 elif 180001<= income:
   tax= 51667+0.45*(income-180000)

print("Your payable tax is", tax)

What is your annual income?45000
Your payable tax is 5092.0

In [3]:
def get_income():
  ''' This function will prompt the user for the income
  and return the value
  '''
  income=int(input("What is your annually income ?"))
  print("Your annual income is" ,income)
  return income

In [4]:
def calculate_tax(income):
  ''' 
  This function will calculate the tax payable based on the ATO
  '''
  if income<=18200:
    tax=0
  elif 18200<income<=45000:
    tax= 0.19 * (income- 18200)
  elif 45001< income<= 120000:
    tax=5092+0.32*(income-45000)
  elif 120001< income < 180000:
    tax= 29467+0.37*(income-120000)
  elif 180001<= income:
    tax= 51667+0.45*(income-180000)
  return tax

In [5]:
# Step 1
income = get_income()

# Step 2
tax = calculate_tax(income)

print("Your tax payable is ", tax)

What is your annually income ?65000
Your annual income is 65000
Your tax payable is  11492.0